<h1>Logout</h1>
<%= form_with  url: logout_path do |f| %>
  <div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
  <%= f.submit "Logout", class: "btn btn-primary" %>
  </div>
  <div class="mb-3">
  <a href ="/login" class= "btn btn-primary">Login</a>
  </div>
<% end %>
