<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "" %>
<% end -%>

<div class="card">
  <div class="card-header" style="background:#02360B;color:white;width:100%;">
    User List
  </div>
  <div class="form1">
  <div class="row g-2">
  <%= form_with url:search_user_path do |form| %>
  
  <div class="col-auto">
    <label for="inputName" class="col-sm-0 col-form-label">Name:</label>
    <%= form.text_field :name, class: ' col-sm-2' %> 
    <label for="inputName" class="col-sm-0 col-form-label">Email:</label>
    <%= form.text_field :email, class: ' col-sm-2' %> 
    <label for="inputName" class="col-sm-0 col-form-label">From:</label>
    <%= form.date_field :from, class: 'col-sm-2' %>
    <label for="inputName" class="col-sm-0 col-form-label">To:</label>
    <%= form.date_field :to, class: 'col-sm-2' %>
    <%= form.submit 'Search', class:'btn btn-success mb-1'%>
  </div>
  <% end %>
  <%= form_tag import_user_index_path, method: :post, multipart: true do %>
    <%= file_field_tag :file, accept: ".csv" %>
    <%= submit_tag '⚙️ Import' , class:"btn btn-success mb-3" %>
    <%=  link_to "Download", user_index_path(format: :csv) ,class:"btn btn-success mb-3" %>
    <%=  link_to "Create User", new_user_path ,class:"btn btn-success mb-3" %>   
  <% end %>
  </div>
  </div>
 
  <div style="overflow-x:auto;" class="table">
    <table>
      <thead>
      <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created User</th>
      <th scope="col">Type</th>
      <th scope="col">Phone</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Address</th>
      <th scope="col">Created_date</th>
      <th scope="col">Updated_date</th>
      <th scope="col">Operation</th>
      <th scope="col">Operation</th>
      </tr>
      </thead>
      <tbody class="table-group-divider" id = 'userlist'>
        <% @user.each do |user| %>
          <tr>
          <th scope="row"><%= user.id %></th>
          <td data-bs-toggle="modal" data-bs-target="#exampleModal"><%= user.name %></td> 
          
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.user_type %></td>
          <td><%= user.phone %></td>
          <td><%= user.dob %></td>
          <td><%= user.address %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td><%= link_to "Delete", delete_user_path(user),  data: {turbo_method: :delete }, turbo_confirm: "Are you sure?", :remote => true, :class => 'delete_user btn btn-danger mb-3'%></td>
          <td><%= link_to "Edit", edit_user_path(user.id), class:'btn btn-success mb-3' %></td>  
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'user_detail' %>










